@model ASProjectProjector.ViewModels.CountyProfileViewModel

<h2>Profile</h2>


<h4>@Html.DisplayFor(model => model.TotalProjectCost)</h4>
<hr/>

<h3>Budget</h3>
    <h4>Total Budget:</h4>
    <h4>Remaining Budget:</h4>
    <h4>Projected Budget:</h4>

<br>
<hr>

<h3>Active Projects</h3>
    @foreach (var item in Model.CountyProject)
    {
        <div class="row">
            <div class="col-md-3">@Html.DisplayFor(modelItem => item.CodeName)</div>
        </div>
    }

<br>
<hr>

<h3>Saved Projects</h3>
    @foreach (var item in Model.CountyProject)
    {
        <div class="row">
            <div class="col-md-3">@Html.DisplayFor(modelItem => item.CodeName)</div>
        </div>
    }