@model ASProjectProjector.ViewModels.ProjectDetailViewModel

@{
    ViewData["Title"] = "Project Details";
}

<br/>
<h2>@Html.DisplayFor(model => model.CountyProject.CodeName)</h2>
<h2>@Html.DisplayFor(model => model.ProjectType.Name)</h2>

@if (@Model.CountyProject.Active) {
    
<form asp-action="Activate">
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Deactivate" class="btn btn-default" />
        </div>
    </div>
</form>

} else { 

<form asp-action="Activate">
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Activate" class="btn btn-default" />
        </div>
    </div>
</form>

}

@foreach (var item in Model.MaterialList)
{
    <div class="row">
        <div class="col-md-12">@Html.DisplayFor(modelItem => item.Name)</div>
    </div>
}

<br>
<hr>
@using (Html.BeginForm("Delete", "CountyProject"))
{
    <div class="col-md-offset-2 col-md-10 form-group">
        <input type="submit" value="Delete" class="btn btn-default" />
    </div>

}
