@model ASProjectProjector.ViewModels.ProjectDetailViewModel

@{
    ViewData["Title"] = "Project Details";
}

<br/>
<h2>@Html.DisplayFor(model => model.CountyProject.CodeName)</h2>
<h2>@Html.DisplayFor(model => model.ProjectType.Name)</h2>

@if (@Model.CountyProject.Active){
    
<form asp-action="Activate">
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Deactivate" class="btn btn-default" />
        </div>
    </div>
</form>

}else { 

<form asp-action="Activate">
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Activate" class="btn btn-default" />
        </div>
    </div>
</form>

}


<div>
    County @Html.DisplayFor(model => model.User.CountyName)
</div>